# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/
env/

# IDE
.vscode/
.idea/

# Spark
metastore_db/
spark-warehouse/

# Logs
logs/
*.log

# Data
data/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Environment files
.env
**/.env